.bar-layout-box {
    background-color: $base;
    font-family: FiraCode Nerd Font;
    padding: 0.8rem;
}

.bar-battery-button {
    background-color: $love;
    border-radius: 50% 0 0 0;
    font-size: 1.5rem;
    padding: 1rem;
    color: $base;
}

.bar-time-button {
    font-size: 1.5rem;
    background-color: $overlay;
    padding: 1rem;
}

.bar-time-format-first { font-weight: bold; color: $iris; }
.bar-time-format-second { color: $foam; }
.bar-time-format-third { color: $foam; }
.bar-reveal-box button { padding: 1rem; font-size: 1.5rem; }

.bar-volume-button {
    transition: 0.2s ease;
    background-color: $surface;
    color: $foam;
}

.bar-volume-button:hover { background-color: $foam; color: $surface; }

.bar-volume-off { background-color: $surface; color: $love; }
.bar-volume-off:hover { background-color: $love; color: $surface; }

.bar-notify-on { background-color: $surface; color: $iris; }
.bar-notify-off { background-color: $surface; color: $love; }
.bar-notify-on:hover { background-color: $iris; color: $surface; }
.bar-notify-off:hover { background-color: $love; color: $surface; }

.bar-notify-button {
    font-size: 1.5rem;
    transition: 0.2s ease;
}

.bar-power-button {
    font-size: 1.5rem;
    color: $love;
    background-color: $surface;
    transition: 0.2s ease;
}

.bar-power-button:hover {
    background-color: $love;
    color: $surface;
}

// .bar-profile-button { }

.bar-separator { 
    background-color: $overlay; 
    margin: 1rem 0;
    font-size: 0.1rem;
}

.bar-search-button {
    background-color: $foam;
    font-size: 1.5rem;
    padding: 1rem;
    color: $base;
    transition: 0.2s ease;
}

.bar-search-button:hover { background-color: rgba($foam, 0.8); }
.bar-workspace {
    background-color: $overlay;
    padding: 1rem;
    font-size: 1.5rem;
    color: $muted;
    transition: 0.2s ease;
}
.bar-workspace:last-child { border-radius: 0 0 50% 0; }

.bar-workspace:hover { background-color: $surface; }
.bar-workspace-urgent {
    color: $love;
    border-right: 0.2rem solid $love;
}
.bar-workspace-focused {
    color: $foam;
    border-right: 0.2rem solid $foam;
}
