@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: JetBrains Mono;
  font-size: 1rem;
}

window#waybar {
  background: transparent;
}

#workspaces {
  border-radius: 0.5rem;
  background-color: @base;
  border: 2px solid @surface0;
}

#workspaces button {
  color: @blue;
  border-radius: 0.5rem;
  background-color: transparent;
}

#workspaces button.active {
  color: @red;
}

#workspaces button:hover {
  background-color: @surface0;
}

#tray,
#custom-swaync,
#clock,
#idle_inhibitor {
	background-color: @base;
	padding: 0 1rem;
	border-radius: 0.5rem;
	border: 2px solid @surface0;
}

#custom-swaync {
	color: @sky;
}

#idle_inhibitor {
	color: @green;
}

#system {
	background-color: @base;
	border-radius: 0.5rem;
	border: 2px solid @surface0;
}

#pulseaudio,
#backlight,
#battery,
#network {
	padding: 0 0.8rem;
}

#pulseaudio {
	color: @peach;
}

#pulseaudio.muted {
    color: @red;
}

#backlight {
  color: @peach;
}

#battery {
	color: @peach;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
    color: @peach;
}

#clock {
	color: @red;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}
