window#quicksettings .quicksettings {
    @include floating-widget;
    @include spacing;

    padding: $popover-padding;

    .header {
        @include spacing;
        color: transparentize($fg, 0.15);

        .user-label {
            background-color: $primary-bg;
            color: $primary-fg;
            font-weight: bold;
            padding: $padding;
            border-radius: $radius;
        }

        separator {
            margin: $spacing;
            background-color: $border-color;
        }

        button {
            @include button;
            padding: $padding;

            image {
                font-size: 2rem;
            }
        }
    }

    .sliders-box {
        @include widget;
        padding: $padding * 0.5 0;

        button {
            @include button($flat: true);
            padding: $padding;
        }

        .volume button.arrow:last-child {
            margin-left: $spacing;
        }

        .volume,
        .brightness {
            padding: $padding * 0.5 $padding;
        }

        scale {
            @include slider;
            margin: 0 $spacing;
        }
    }

    .row {
        @include spacing;
    }

    .menu {
        @include unset;
        @include widget;
        padding: $padding;
        margin-top: $spacing;

        .icon {
            margin: 0 $spacing;
        }

        .title {
            font-weight: bold;
        }

        separator {
            margin: $spacing;
            background-color: $border-color;
        }

        button {
            @include button($flat: true);
            padding: $padding;

            image:first-child {
                margin-right: $spacing;
            }
        }

        .bluetooth-devices {
            @include spacing(0.5);
        }

        switch {
            @include switch;
        }
    }

    .sliders-box .menu {
        margin: $spacing;

        &.app-mixer {
            .mixer-item {
                padding: $padding;

                scale {
                    @include slider;
                }

                image {
                    font-size: 1em;
                    margin: 0 $padding;
                }
            }
        }
    }

    .toggle-button {
        @include button;
        font-weight: bold;

        image {
            font-size: 1.3em;
        }

        label {
            margin-left: $spacing;
            font-size: 1em;
        }

        button {
            @include button($flat: true);

            &:first-child {
                padding: $padding * 2 $padding * 1.5;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                padding: $padding * 2 $padding * 1.5;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &.active {
            background-color: $primary-bg;

            label,
            image {
                color: $primary-fg;
            }
        }
    }

    .simple-toggle {
        @include button;
        font-weight: bold;
        padding: $padding * 2 $padding * 1.5;

        label {
            margin-left: $spacing;
            font-size: 1em;
        }

        image {
            font-size: 1.3em;
        }
    }

    .media {
        @include spacing;

        .player {
            @include media;
        }
    }
}
