.ccenter-layout-box {
    font-family: FiraCode Nerd Font;
    background-color: $base;
    color: $text;
    padding: 1rem;
    border-radius: 3rem;
}

.ccenter-connections-box {
    background-color: $overlay;
    border-radius: 3rem;
    padding: 0.5rem;
}

.ccenter-airplane-button,
.ccenter-bluetooth-button {
    font-size: 2rem;
    color: $subtle;
    transition: 0.2s ease;
}

.ccenter-airplane-button {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.ccenter-airplane-button-on {
    background-color: $iris;
    color: $overlay;
}

.ccenter-bluetooth-button {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.ccenter-airplane-button:hover,
.ccenter-bluetooth-button:hover {
    background-color: $iris;
    color: $overlay;
}

.ccenter-date-day {
    font-size: 1.5rem;
}

.ccenter-bat-overlay {
    color: $base;
}

.ccenter-bat-prog {
    border-radius: 3rem;

    trough {
        padding: 3rem 0;
        background-color: $overlay;
        border-radius: 3rem;

        progress {
            padding: 3rem 0;
            background-color: $foam;
            border-radius: 3rem;
        }
    }
}

.ccenter-bat-label {
    font-size: 1rem;
    padding-left: 2rem;
}

.ccenter-bat-status-label {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
}

.ccenter-bat-icon {
    padding-right: 2rem;
    font-size: 2rem;
}

.ccenter-bat-full {
    trough {
        progress {
            background-color: $foam;
        }
    }
}

.ccenter-bat-norm {
    trough {
        progress {
            background-color: $iris;
        }
    }
}

.ccenter-bat-warn {
    trough {
        progress {
            background-color: $gold;
        }
    }
}

.ccenter-bat-crit {
    trough {
        progress {
            background-color: $love;
        }
    }
}

.ccenter-pctl-box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 3rem;
}

.ccenter-pctl-label {
    font-size: 1rem;
    color: $text;
}

.ccenter-pctl-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
    color: $text;
}

.ccenter-pctl-artist {
    font-size: 1rem;
    color: $subtle;
}

.ccenter-pctl-volume-icon {
    font-size: 2rem;
}

.ccenter-pctl-volume-label {
    font-size: 1rem;
    padding-left: 1rem;
}

.ccenter-pctl-status {
    font-size: 2rem;
}

.ccenter-pctl-scale {
    padding: 1rem 0 0 0;

    trough {
        background-color: $overlay;
        min-height: 0.3em;
        border-radius: 1rem;

        highlight {
            background-color: $foam;
            border-radius: 1rem;
        }

        slider {
            background: $foam;
            border-radius: 100%;
            margin: -8px;
        }
    }
}

.ccenter-uptime-box {
    background-color: $overlay;
    padding: 2rem;
    border-radius: 3rem;
}

.ccenter-uptime-label {
    color: $subtle;
    font-size: 1rem;
}

.ccenter-uptime-value {
    font-size: 1.5rem;
    color: $text;
}

.ccenter-wifi-box {
    background-color: $overlay;
    padding: 2rem;
    border-radius: 3rem;
}

.ccenter-wifi-label {
    font-size: 1rem;
    color: $subtle;
}

.ccenter-wifi-ssid {
    font-size: 1.5rem;
    color: $text;
}

.ccenter-wifi-icon {
    font-size: 2rem;
    padding: 1rem;
    color: $rose;
}

// vim:ft=scss
